::selection {
	background: #111;
}
* {
	outline: none;	
} html {
	height: 100%;	
} body {
	height: 100%;	
	margin: 0px;
	background: black;
	color: white;
} #c {
	height: 100%;	
	display: flex;
	/*flex-direction: column;*/
	justify-content: center;
	align-items: center;
	/*max-width: 500px;*/
	margin: auto;
} .fb {
	background: #0a0a0a;
	color: #484848;
	border: solid 1px #171717;
	padding: 12px;
	text-align: center;
} .f1 {
	font-size: 2.5rem;
	font-family: serif;
	width: 70%;
}
